html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.container-fluid {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 100%;
}

@media (max-width: 720px) {
    .container-fluid {
        padding: 0 15px;
    }
}

body {
    margin: 0;
    font-weight: 400;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: $text;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: $bg;
    @include f700;
    font-size: 36px;
    line-height: 60px;
}

.rate-star {
    display: inline-block;
    margin-right: 13px;
}